.container {
    margin: 0 auto;
    max-width: 1190px;
}
* {
    font-family: 'Merriweather', serif;
    color: #5a3b8d;
}
h1 {
    font-size: 4rem;
}
.bayan {
    padding: 0 2rem;
}

.bayan__rabber {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.bayan__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.bayan__wrapper:hover .bayan-item__open {
    opacity: 1;
}
.bayan-item__subtitle {
    font-size: 3rem;
}
.bayan-item__open {
    font-size: 3rem;
    opacity: 0;
    transition: all 0.3s;
}


label {
    width: 100%;
    padding: 1rem 0;
    border-top: 0.2rem solid #8dadc8;
    cursor: pointer;
    margin-bottom: 3rem;
}

input {
    display: none;
}



/*момент клика на каждый item*/

input:active ~ * .bayan-item__close, input:active ~ * .bayan-item__open {
    color: #ff3131;
}
input:active ~ .bayan__img {
    opacity: 0.5;
}
input:active ~ * .bayan-item__subtitle {
    color: #ff3131;
}




/*ховер эффект на каждый item*/

input:hover ~ * .bayan-item__open {
    opacity: 1;
    transform: scale(1);
    transform: rotate(45deg);
}
input:hover ~ .bayan__img {
    transform: scale(1);
    height: 20rem;
}

/* Клик по каждому item'у или по-другому выбор определенного чекбокса */

/*input:checked ~ * .bayan-item__close {*/
/*    display: flex;*/
/*}*/
/*input:checked ~ .bayan__img {*/
/*    height: 300px;*/
/*    transform: scale(1);*/
/*}*/
/*input:not(:hover) ~ * .bayan-item__close {*/
/*    display: flex;*/
/*}*/



.bayan-item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bayan__img {
    display: block;
    margin: 0 auto;
    width: 20rem;
    object-fit: cover;
    height: 0;
    transition: all 0.5s;
    transform: scale(0);
    margin-top: 2rem;
}